.imgMain{
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.CardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Informacion {
  align-items: baseline;
}
h4 {
  font-size: 2rem;
}
.Info {
  line-height: 2pt;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
}
.Info1 {
  padding: 10px;
}
.Info2 {
  padding: 10px;
}
.Info3 {
  padding: 10px;
}
.fecha-principal{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.tiempo-principal{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*AppDia */

.App-Dia{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px 0px 0px 0px;
}
.dia {
  margin: 15px 15px 0px 0px;
}
.vertical-shake {
  animation: vertical-shaking 0.85s infinite;
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(3px) }
  50% { transform: translateY(6px) }
  75% { transform: translateY(3px) }
  100% { transform: translateY(0) }
}

/*
Card Dia
*/

.dia-card{
  max-width: 125px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px black;
  border-radius: 1rem;
  
}
.fecha-dia{
  font-size: medium;
}
.tiempo-dia{
  font-size: medium;
}
.imgDia{
  height: 15vmin;
  pointer-events: none;
}
.temperatura-dia{
  display: block;
  font-size: medium;
  margin-bottom: 0px;
}

/*  Switch Mono oscuro  */
.Claro-Oscuro {
  display: block;
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 2rem;
  background-color: #181c24;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #1890f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}